<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/2bf48c15db.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'discount_list.css' %}">
</head>

<body>
    <div class="header">
        <div class="discount"><a href="/">Discoun<span class="percentageHeader">%</span>y</a></div>
        <div class="other">
            <span><a href="{% url 'logout' %}" class="logout-button">Logout</a></span>
        </div>
    </div>

    <div class="container">
        <div id="boxJedan">
            <img src="{{ store.picture.url }}" alt="picture" class="image">
        </div>
        <div id="boxDva">
            <div class="store-info">
                <b>Welcome, <span id="storeName">{{store.name}}</span></b>
                <br />
                Your location: <span id="storeLocation">{{store.address}} ({{store.latitude}}, {{store.longitude}})</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Original Price</th>
                        <th>Discounted Price</th>
                        <th>Code</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for discount in discounts %}
                        <tr>
                            <td class="url-cell"><a href="{{ discount.url }}">{{ discount.url }}</a></td>
                            <td>{{ discount.original_price }}</td>
                            <td>{{ discount.discounted_price }}</td>
                            <td>{{ discount.code }}</td>
                            <td class="update-button">
                                <a href="{% url 'discount-update' discount.pk %}" class="update-link">Update</a>
                              </td>
                              <td class="delete-button">
                                <a href="{% url 'discount-delete' discount.pk %}" class="delete-link">Delete</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No discounts available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add-discount' %}" class="add-item-button">Add Item</a>
        </div>
    </div>

    <footer class="footer">
        <span class="percentageFooter">%</span>
        <div class="icons">
            <a class="icon" href="contact">
                <i class="fa fa-phone"></i>
                <span class="iconText">Contact</span>
            </a>
            <a class="icon" href="https://www.facebook.com">
                <i class="fa-brands fa-square-facebook"></i>
                <span class="iconText">Facebook</span>
            </a>
            <a class="icon" href="https://www.instagram.com">
                <i class="fa-brands fa-instagram"></i>
                <span class="iconText">Instagram</span>
            </a>
        </div>
        <div>

        </div>
    </footer>


</body>

</html>